
 body{background: linear-gradient(0deg, rgb( 241, 207, 172) 0%, rgb(  99, 52, 6  ) 100%) fixed;}
.contenedor{margin:0 auto;
            width:90%; 
			text-align:center;}
/*Se cambio el tipo de letra del titulo y el color*/
.cabecera{margin:0 auto;
	display:inline-block;
	color:#fff;
	font-family: 'Dancing Script', cursive;
	font-size:200%;}

.navegacion a{padding:2% 2% 0% 2%;}
a:link{color:#502b06;font-size:130%;}
a{color:#502b06;font-size:130%;text-decoration: none;}
h2 a:visited{color:#502b06;}
h2 a:hover{color:#fff;
	  font-size:150%;}


.Alumno { margin:20px auto;
		padding:20px;
		width:80%;
		text-align:center;
		color:#502b06;
		font-family: 'Dancing Script', cursive;
		font-size:30px;}

hr{width:80%;
	color:  #502b06 ;
	height:3px;
	background: #502b06 ;
	margin:3% auto;} 